@font-face {
  font-family: 'Graphik';
  src: url('/src/assets/font/Graphik-Regular.ttf') format('truetype');
  /* Otras propiedades de la fuente */
}
:root {
  font-family: 'Graphik', sans-serif;
  -webkit-font-smoothing: antialiased;
  color: black;
  background-color: #FFFFFF;

}
body {
  margin: 0;
  width: 100%;

}
