@font-face {
  font-family: 'Graphik';
  src: url('/src/assets/font/Graphik-Regular.ttf') format('truetype');
  /* Otras propiedades de la fuente */
}
:root {
  font-family: 'Graphik', sans-serif;
  -webkit-font-smoothing: antialiased;
  color: black;
  background-color: #FFFFFF;
  --accent-purples2: #A055F5;
  --accent-purples1: #A100FF;
  --accent-purples3: #460073;
  ::selection {
    background-color: #bd71ec;
  }
}
body {
  margin: 0;
  width: 100%;

}
